body {
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    background-color: white;
    color: black;
 }
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 1160px;
    margin:0 auto;
    padding: 0 20px;  
}
.main-header {
    margin-bottom: 78px;
    background-color: #eeeeee;
}
.main-navigation {
    float:left;
    width: 600px;
    min-height: 40px;
    text-transform: uppercase;
}
.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    vertical-align: top;
}
.main-navigation a {
    display: block;
    padding-top: 77px;
    padding-right: 45px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #000000;
}
.main-navigation a:hover,
.block-cart a:hover {
    color: #fb565a;
}
.main-navigation a:active,
.block-cart a:active {
    color: rgba(0,0,0,.3);
}
.block-cart {
    float: right;
    max-width: 160px;
    text-transform: uppercase;
}
.cart {
    position: relative;
    display: inline-block;
    padding-top: 77px;
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
}
.cart:hover {
    color: #fb565a;
}
.cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background:url("../img/cart-icon.png") no-repeat;
    opacity: 0.3;
    left: 10px;
    top: 83px;  
}
.cart:hover::before {
    opacity: 0.3;
}
.logo {
    float: left;
    width: 160px;
    margin-right: 201px;
    margin-top: 50px; 
}
.logo:hover {
    opacity: 0.8;
}
.logo:active {
    opacity: 0.3;
}
.slider{
    position: relative;
    width: 1160px;
    margin:0 auto;
    height: 425px;
    clear: both;
}
.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}
.slider-controls {    
    position: absolute;
    z-index: 1000;
    bottom: 105px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
}
.slider-controls label{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 7px;
    background: white;
    border: 6px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: #c1c1c1;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 1220px;
    overflow: hidden;
    padding-bottom: 100px;
}
.slide-text{
    max-width: 600px;
    padding-top: 67px;   
    color: #283136;
}
.slide-title{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: black;
    margin-bottom: 29px;
}
.slide .btn{
    display: inline-block;
    padding-top: 15px;
    padding-left: 53px;
    padding-right: 54px;
    padding-bottom: 15px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    cursor: pointer;
}
.slide .btn:hover {
    background-color: #e74246;
}
.slide .btn:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
.slide:nth-child(1){
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 83% 10px;
}
.slide:nth-child(2){
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 83% -5px;
}
.slide:nth-child(3){
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 13px;
}
.slide{
    display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
.slide-first {
    background:url("../img/slide1.png") no-repeat 83% 7px;
}
.slide-second {
    background:url("../img/slide2.png") no-repeat 90% -10px;
}
.slide-third {
    background:url("../img/slide3.png") no-repeat 100% 0px;
}
.features {
    border-bottom: 2px solid rgba(0,0,0,.1);  
    padding-bottom: 81px;
    margin-bottom: 40px;
}
.features-item {
    float: left;
    width: 360px;
    margin-right: 39px; 
}
.features-item:last-child {
    margin-right: 0;
}
.features-title {
    text-transform: uppercase;
}
.btn-red{
    display: inline-block;
    padding-top: 17px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 17px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    cursor: pointer;
}
.btn-red:hover {
    background-color: #e74246;
}
.btn-red:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
.btn-green{
    display: inline-block;
    padding-top: 17px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 17px;
    margin-top: 15px; 
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00ca74;
    border: none;
    cursor: pointer;
}
.btn-green:hover {
    background-color: #00bc6c;
}
.btn-green:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
.btn-yellow{
    display: inline-block;
    padding-top: 17px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 17px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #efc84a;
    border: none;
    cursor: pointer;
}
.btn-yellow:hover {
    background-color: #eab534;
}
.btn-yellow:active {
    background-color: #e5a722;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
.info-column {
    margin-bottom: 70px; 
}
.info-column-left {
    min-height: 410px;
    float: left;
    width: 660px;
}
.info-title {
    color: black;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: .2px;
    margin-top: 30px;
}
.info-column-left p {
    margin-bottom: 35px;    
}
.info-list-title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: 700; 
    list-style: none;  
}
.info-list li {
    position: relative;
    margin-left: 37px;
    margin-top: 19px;  
}
.info-list li::before {
    position: absolute;
    top: 8px;
    left: -38px;
    width: 25px;
    border: 1px solid #fb565a;
    content: "";
}
.info-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-column-right {
    min-height: 410px;
    float: right;
    min-width: 360px;   
}
.info-image { 
    text-align: right;
    margin-bottom: 27px;  
}
.info-list-text {
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;  
    padding-left: 27px;
    margin-bottom: 29px;
}
.info-list-item  {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
}
.info-list-result {
    color: black;
    font-size: 45px;
    font-weight: 700;
    line-height: 10px; 
}
.procent {
    font-size: 28px;
    position: absolute;
    top: -20px;
}
.info-list-slogan {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    margin-top: 22px;    
}
.partners {
    font-size: 0;
    border-top: 2px solid rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,.1);
}
.logo-partners {
    font-size: 16px;
    display: inline-block;  
    vertical-align: top;
    padding-right: 40px;
}
.line {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    margin-top: 70px;
    margin-left: 5px;   
}
.line:nth-child(3n) {
    margin-right: 0;
}
.partners-html {
    width: 199px;
    height: 68px;
    padding-top: 62px;
    padding-bottom: 50px;
    padding-left: 30px;   
}
.partners-barbershop {
    width: 209px;
    height: 90px;  
    margin-left: 33px;
    padding-top: 46px;
    padding-bottom: 44px;
    padding-left: 20px;
}
.partners-pink {
    width: 185px;
    height: 52px;    
    margin-left: 56px;
    padding-top: 63px;
    padding-bottom: 50px;
}
.partners-mishka {
    width: 173px;
    height: 84px; 
    margin-left: 62px;
    padding-right: 0;
    padding-top: 52px;
    padding-bottom: 44px;
    padding-left: 12px;
}
.partners-html a:hover,
.partners-barbershop a:hover,
.partners-pink a:hover,
.partners-mishka a:hover {
    opacity: 1;
}
.partners-html a:active,
.partners-barbershop a:active,
.partners-pink a:active,
.partners-mishka a:active {
    opacity: 0.1;
}
.partners-html a,
.partners-barbershop a,
.partners-pink a,
.partners-mishka a {
    opacity: .2;
}
.main-footer {
  margin-top: 80px; 
}
.footer-social {
  min-height: 80px;
  float:left;
  min-width: 260px;
  margin-right: 60px;
  text-align: center;
}
.social-btn {
    position: relative;
    width: 78px;
    height: 78px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100%;
    background: #e1e1e1;
    display: inline-block;
    vertical-align: top;
}
.social-btn:last-child {
    margin-right: 0;
}
.social-btn:hover {
    background: #fb565a;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
.icon-vk {
    position: absolute;
    top: 32px;
    left: 27px;
    width: 26px;
    height: 15px;
}
 .icon-fb {
    position: absolute;
    top: 29px;
    left: 33px;
    width: 12px;
    height: 22px;
}
.icon-instra {
    position: absolute;
    top: 29px;
    left: 30px;
    width: 21px;
    height: 21px;
}
.footer-friendship {
    min-height: 80px;
    width: 560px;
    float: right;
    margin-right: 204px;
}
.footer-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: 0px;
}
.footer-friendship p {
    margin-top: 8px;
}

.map-block {
    position: relative;
    width: 100%;
    min-height: 416px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.contacts{
    position: absolute;
    top: 41px;
    left: 12%;
    box-sizing: border-box;
    width: 320px;
    padding: 48px;
    background: #fff;
}
.contacts h3 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.contacts p {
    color: #666;
    font-weight: 400;
    line-height: 18px;
}
.contacts-phone {
    display: block;
    margin-top: 20px;
    margin-bottom: 35px;
}
.feedback-btn{
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    cursor: pointer;
}
.feedback-btn:hover {
    background-color: #e74246;
}
.feedback-btn:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
/* Всплывающая форма */
@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.feedback {
    width: 760px;
    height: 590px;
    position: absolute;
    left: 40%;
    top: 220%;
    padding-top: 70px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #ffffff;  
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.75);
    margin-left: -380px;
    display: none; 
} 
.feedback-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}
.feedback-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}
.feedback-content-close {
  position: absolute;
    top: 80px;
    right: 90px;
    width: 21px;
    height: 21px;
    font-size: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    opacity: .3;
}
.feedback-content-close::before,
.feedback-content-close::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 21px;
    height: 4px;
    background: #fb565a;
    border-radius: 1px;
}
.feedback-content-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.feedback-content-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.feedback h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin: 0;
    margin-bottom: 50px;
}
.feedback-column-left {
    float: left;
    width: 360px;
}
.feedback-column-right {
    float: right;
    width: 360px;
}
.feedback-label {
    display: block;
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 13px;
}
.feedback-input { 
    width: 360px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-family: "Roboto", "Arial", sans-serif;
    opacity: 0.5;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 35px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
}
.form-textarea {
    width: 760px;
    margin-bottom: 30px;
    border: 2px solid #d7dcde;
    font-family: "Roboto", "Arial", sans-serif;
    opacity: 0.5;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 12px;
    padding-bottom: 89px;
    padding-left: 10px;
}
.submit-btn {
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 82px;
    padding-right: 82px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    cursor: pointer;
    margin-top: 46px;
}

/*  КАТАЛОГ НЕРДС  */
.main-navigation .active {
    position: relative;
    background-color: none;
}
.main-navigation .active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 40px;
    width: 78px;
    height: 2px;
    background-color: #fb565a;
}
.main-navigation .active a:hover {
    background: none;
}
.main-navigation .active span {
    display: block;
    padding-top: 77px;
    padding-right: 44px;
}
.header-title {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin: 0;
    margin-bottom: 55px;
    padding-top: 190px;
    padding-bottom: 52px;
    padding-left: 214px;
}
.sort {
    float: left;
    width: 260px;
}
.sort-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: 47px;
}
.range-filter {
    width: 260px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.range-controls .toggle-min {
    left: 18px;
}
.range-controls .toggle-max {
    left: 157px;
}
.price-controls {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    color: #283136;
    font-weight: 400;
    line-height: 22px;
}
.price-controls {
    font-size: 0px;
}
.price-controls input {
    border: none;
    background: #f1f1f1;
    padding: 12px 10px 14px;
    width: 60px;
    height: 12px;
    text-align: center;
    border-radius: 5px;
}
.price-controls input {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    width: 60px;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 14px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    margin-left: 10px;
}
.max-price {
    text-align: right;
}
.sort-grid {
    margin-top: 54px;
}
.sort-title-grid {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 50px;
}
.sort-title-features {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 40px;
}
.sort-grid label, 
.sort-features label {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #283136;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 8px;
    padding-left: 36px;
}
input[type="radio"] + label::before,
input[type="radio"]:checked + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 1px;
    display: block; 
    width: 25px;
    height: 25px;
    background-position: 0 -90px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    opacity: 0.6;
}
input[type="radio"]:checked + label::before {
    background-position: 0 -120px;
}
input[type="radio"] + label:hover::before {
    opacity: 1;
}
input[type="radio"]:disabled + label::before {
    opacity: 0.1;
}
input[type="radio"]:disabled + label {
    color: rgba(40, 49, 54, 0.3);
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-left: 36px;
}
input[type="checkbox"] + label::before,
input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 1px;
    top: -2px;
    display: block;
    width: 27px;
    height: 23px;
    background-position: 0 -30px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    opacity: 0.6;
}
input[type="checkbox"]:checked + label::before {
    background-position: 0 -60px;
}
input[type="checkbox"] + label:hover::before {
    opacity: 1;
}
input[type="checkbox"]:disabled + label::before {
    opacity: 0.1;
}
input[type="checkbox"]:disabled + label {
    color: rgba(40, 49, 54, 0.3);
}
.sort-btn {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 90px;
    padding-right: 88px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eee;
    border: none;
    cursor: pointer; 
    margin-top: 30px;  
}
.sort-btn:hover {
    background-color: #dfdfdf;
}
.sort-btn:active {
    opacity: 0.3;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.3);
}
.catalog-list {
    float: right;
    width: 760px;
}
.sorting { 
    margin-bottom: 35px;
}
.sorting-list {
    float: left;
    max-width: 760px;
    margin-top: -18px;
    margin-left: -40px;
}
.sorting-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-right: 238px;    
}
.sorting-list li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-right: 23px;
}
.sorting-list a {
    color: black;
    opacity: 0.3;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
}
.sorting-list a:hover {
    opacity: 0.6;
}
.sorting-list a:active {
    opacity: 0.9;
}
.sorting-controls {
    float: right;
    max-width: 60px;
}
a.arrow {
    display: inline-block;
    margin: 0;
    margin-right: 25px;    
    font-size: 0;
    position: relative;
}
.arrow::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 15px;
}
.arrow-down::before {
    border-bottom-width: 0;
    border-top: 10px solid #c1c1c1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.arrow-down:hover,
.arrow-up:hover {
    opacity: 0.4;
}
.arrow-down:active,
.arrow-up:active {
    opacity: 0.9;
}
.arrow-up::before {
    border-top-width: 0;
    border-bottom: 10px solid #c1c1c1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.catalog-item {
    margin-right: 40px;
    margin-bottom: 30px;
    float: left;
    width: 360px;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}
.catalog-header {
    background-color: #f1f1f1;
    border-radius: 5px 5px 0 0;
    font-size: 0;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;  
}
.catalog-header li {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 100%;
    width: 14px;
    height: 14px; 
    margin-top: 10px;
    margin-right: 10px;
}
.catalog-header li:first-child {
    margin-left: 15px;
}
.catalog-content {
    position: relative;
}
.catalog-description {
    position: absolute;
    left: 0;
    bottom: 7px;
    background-color: #eeeeee;
    display: block;
    height: 231px; 
    text-align: center;
    width: 360px;
}
.catalog-description .name {
    color: #000000;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 25px;
}
.catalog-description .text {
    overflow: hidden;
    max-height: 140px;
}
.catalog-description p{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
  }
.catalog-btn {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    cursor: pointer; 
    margin-top: 30px;  
}
.catalog-btn:hover {
    background-color: #e74246;
}
.catalog-btn:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: rgba(255,255,255,.9);
}
.catalog-description {
  display: none;
}
.catalog-item:hover .catalog-description {
  display: block;
}
.catalog-item:hover .catalog-header {
  background-color: #797979;
}
.page-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: black;
    background-color: #eee;
    border-radius: 3px;
    margin-right: 9px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 50px;
}
.page-btn.active {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 44px;
    border: 3px solid #dbdbdb;
    background-color: #fff;
}
.page-btn-next {
    display: inline-block;
    vertical-align: middle;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 78px;
    padding-right: 77px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    background-color: #eee;
    border-radius: 3px;
}
.catalog-block {
    margin-bottom: 15px;
}
.pagination {
    margin-bottom: -20px;
}