body {
	font-family: Roboto;
	color:black;
}
.slider-title,
.header-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.features-title {	
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;	
}
.about-us-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}
.footer-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.feedback-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}
.filter {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}
.catalog-list-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}